* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.header-container {
    background-color: #E7EDFD;
    height: 90px;
    display: flex;
}

.logo {
    color: #0B2C80;
    align-self: center;
    margin-left: 25px;
}

h3 {
    margin-bottom: 25px;
}

.tasks-container {
    padding: 0px 25px 0px 25px;
}

.container {
   padding-top: 25px;
}

.add-task-input-container {
    display: flex;
    border-radius: 5px;
    transition: all 100ms;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.plus-icon-container {
    display: flex;
    margin-left: 7px;
    margin-right: 10px;
    cursor: pointer;
}

/* plus icon itself */
.plus-icon-container img {
    transition: all 200ms;
}

.insert-todo-input, .task-input {
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0px 10px 0px 10px;
    outline: none;
}

.insert-todo-input {
    background-color: rgba(0, 0, 0, 0.001);
}

.task-input {
    background-color: rgba(0, 0, 0, 0.001);
    width: 100%;
}

.input-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    border-radius: 5px;
    transition: all 100ms;
}

.checkbox-container {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    height: 22px;
    width: 22px;
    min-width: 22px;
    margin: 0px 13px 0px 10px;
    cursor: pointer;
    justify-content: center;
}

.checkbox {
    align-self: center;    
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.delete-button-container {
    display: flex;
    width: 42px;
    height: 40px;
    justify-content: center;
    background-color: rgba(231, 237, 253, 0.8);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.delete-button {
    width: 30px;
    height: 30px;
    align-self: center;
}

.done-todos-description {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.done-todos-description img {
    margin-right: 5px;
    transition: all 200ms;
}

.hide {
    display: none;
}

h3, img, .input-container, .insert-todo-input {
    user-select: none;
}

/*  */

.dragging {
    opacity: .5;
}